

.boton{ 
    
    gap: 0px;
    display: grid;
    grid-template-columns: repeat(5, 21%);
    grid-template-rows: 3fr;
    padding-top: 28px;
    
    padding-left: 12%;
    column-gap: 1%;
    
    row-gap: 5%;
    align-items: center;

    div{
        
        button{
        
         width: 98%;
         height: 150px;
        border: transparent;
    
        transform: scale(1.1);
        
    }
  }
   
}
header{
    align-items: center;
    
    
}
.boton-derecha{
    grid-column: 5;
    grid-row: 1 / 4;
    text-align: right;
    z-index: -1;
    
    button{
        
        padding-top: 0px;
        position: absolute;
        right: -90%;
        top:205px;
        
        background-color: rgb(222,222,222);
        border: none;
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: url("../img/next-default.png");
        background-repeat: no-repeat;
        background-size: 2%;
        background-position: 40px 50px;
        
        img{
            display: block;
            margin: auto;
            
        } 
    }
}
html{
    
        body{
            overflow-x: hidden;
    
    background-color: rgb(222,222,222);
     
    
}
    
}
// canales y sus respectivos fondos y animaciones

  .channel-1{
    overflow: hidden;
     background-color: transparent;
     background-image: url("../img/channel-border.png") ;
     background-size: 92%;
     background-position: center;
     background-repeat: no-repeat;
     transition: 0.4s;
     img{
        width: 35%;
        height: 60%;
     }

     &:hover{
        background-image: url("../img/channel-border-selection.png");
    background-size: 94%;
    
     }
 
  }

  .menu{
    background-color: transparent;
    border: none;
    img{
        display: block;
    }
   
    
    
    

  }
  .mail{
    background-color:transparent;
    border: none;
    
    
    
  }
  main{
    display: flex;
     
     justify-content: center;
     gap: 70%;
     padding-left: 3%;
     padding-right: 3%;
     padding-top: 5%;
     padding-bottom: 10px;
     
    button{
        transform: scale(60%);


    }
  }
  
 
  .channel-2, .channel-3, .channel-4, .channel-5, .channel-6, .channel-7, .channel-8, .channel-9, .channel-10, .channel-11, .channel-12{
    background-image: url("../img/channel-icon.png");
    background-size: 92%;
     background-position: center;
     background-repeat: no-repeat;
     background-color: transparent;
  }
  .static{
    object-fit: contain;
    width: 91%;
    height: 97%;
    background-color: transparent;
    opacity: 50%;
    animation: shift 0.5s linear infinite both;
  }
  @keyframes shift{
    0%{
        transform: translateY(-5%) ;
    }
    
    
    
    100%{
        transform:  translateY(6%);
        
        
    }



  }



html {
    cursor: url("../img/cursor.cur") 24 34, auto;
}

body {
    cursor: inherit;
}

* {
    cursor: inherit;
}
// celular

@media (max-width: 768px) {

    .boton {
        grid-template-columns: repeat(2, 45%);
        grid-template-rows: repeat(6, 150px);
        padding-left: 0;
        justify-content: center;
        column-gap: 5px;
        row-gap: 5px;
        div{
        
        button{
        
         width: 90%;
         height: 150px;
        border: transparent;
    
        transform: scale(1.2);
        
    }
  }
    }
    .boton-derecha {
    transform: scale(0.8);
    background-color: transparent;
     grid-column: auto;
        grid-row: auto;
        
}

    
body{
    overflow-x: hidden;
}
    

}

// imagenes del fondo
.imagen-fondo{
    position: absolute;
    bottom: 0;
    left: 10%;
    z-index: -1;
    width: 80%;
    height: 28.8%;
}

.linea-derecha{
    background-image: url("../img/bottom-bg.png");
    position: absolute;
    bottom: 0;
    left: 0;
    padding-right: 0;
    background-repeat: repeat-x;
    width: 10%;    
    height: 28.8%;
    z-index: -1;
}
.linea-izquierda{
    background-image: url("../img/bottom-bg.png");
    position: absolute;
    bottom: 0;
    right: 0;
    padding-right: 0;
    background-repeat: repeat-x;
    width: 10%;    
    height: 28.8%;
    z-index: -1;
}
.imagen-fondo2{
    right: -1;
    width: 10%;    
    height: 28.8%;
    z-index: -1;
    position: absolute;
    bottom: 0  ;
    padding-left: 90%;
}

.rotar{
    animation: girar 8s infinite;
}
@keyframes girar {
   
    
     /* Espera */
    0% {
        transform: rotateY(0deg);
    }

    /* Da una vuelta de 180° */
    50% {
        transform: rotateY(180deg);
    }

    /* Espera */
    100% {
        transform: rotateY(360deg);
    }
}
@keyframes mover {
    0%   { transform: translateX(0); }
    50%  { transform: translateX(20px); }
    100% { transform: translateX(0); }
}
